## <center> *Модель прогнозирования стоимости жилья для агентства недвижимости*

# <center> **Часть II. Разведывательный анализ и моделирование.**

Импорт библиотек

In [6]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns



import warnings
warnings.filterwarnings('ignore')

In [7]:
data = pd.read_csv('data/data_edited.csv')

data

,status pending,status for sale,status coming soon,status new,status foreclosure,status pre-foreclosure,status auction,status active,status show,status for rent,...,school distance mean,school rating nearest,school distance to best,schools with k,schools with pk,schools with preschool,school grades,target per month,target plus,target
0,0,0,0,0,0,0,0,1,0,0,...,5.537500,7,5.10,3,2,0,13,0,0,418.000
1,0,1,0,0,0,0,0,0,0,0,...,1.326667,4,1.65,1,1,0,13,0,0,310.000
2,0,1,0,0,0,0,0,0,0,0,...,1.960000,8,1.19,1,0,0,13,0,0,2895.000
3,0,1,0,0,0,0,0,0,0,0,...,0.752500,9,1.05,1,1,0,13,0,0,2395.000
4,0,1,0,0,0,0,0,0,0,0,...,4.080000,4,3.25,1,1,0,13,0,0,5.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360187,0,1,0,0,0,0,0,0,0,0,...,0.250000,3,0.40,1,1,0,13,0,0,799.000
360188,0,0,0,0,0,0,0,0,0,0,...,16.600000,10,32.10,1,1,0,13,0,0,1249.000
360189,0,1,0,0,0,0,0,0,0,0,...,4.143333,1,0.40,1,1,0,13,0,0,674.999
360190,0,1,0,0,0,0,0,0,0,0,...,0.605000,4,0.48,1,1,0,9,0,0,528.000
360191,0,0,0,0,0,0,0,0,0,0,...,1.833333,3,0.30,1,1,0,13,0,0,204.900

In [9]:
data.describe()

,status pending,status for sale,status coming soon,status new,status foreclosure,status pre-foreclosure,status auction,status active,status show,status for rent,...,school distance mean,school rating nearest,school distance to best,schools with k,schools with pk,schools with preschool,school grades,target per month,target plus,target
count,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,...,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000,360192.000000
mean,0.019095,0.553807,0.000305,0.017083,0.028066,0.009798,0.008201,0.259414,0.006466,0.001144,...,2.832004,4.875866,3.516187,1.750966,1.222609,0.181173,12.497873,0.001105,0.020164,619.298475
std,0.136860,0.497097,0.017473,0.129579,0.165160,0.098497,0.090188,0.438314,0.080151,0.033801,...,5.968360,2.994830,7.846453,3.579838,3.415796,0.579492,1.849038,0.033223,0.140562,1757.353889
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-11.000000,-1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.040000,3.000000,0.630000,1.000000,0.000000,0.000000,13.000000,0.000000,0.000000,189.900000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.766667,5.000000,1.400000,1.000000,1.000000,0.000000,13.000000,0.000000,0.000000,320.000000
75%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,3.262500,7.000000,3.270000,1.000000,1.000000,0.000000,13.000000,0.000000,0.000000,572.900000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1590.830000,10.000000,1591.090000,52.000000,49.000000,10.000000,13.000000,1.000000,1.000000,195000.000000