# <center> Модель прогнозирования стоимости жилья для агентства недвижимости

Импорт библиотек

In [56]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, SGDRegressor

import warnings
warnings.filterwarnings('ignore')

plt.style.use('bmh')

## Данные

Читаем данные

In [57]:
data = pd.read_csv('data/data.csv')

display(data.head())
print(f'{data.shape[0]} rows, {data.shape[1]} columns')

,status,private pool,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,PrivatePool,MlsId,target
0,Active,NaN,Single Family Home,240 Heather Ln,3.5,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",Gas Logs,Southern Pines,"[{'rating': ['4', '4', '7', 'NR', '4', '7', 'N...",2900,28387,4,NC,NaN,NaN,NaN,611019,"$418,000"
1,for sale,NaN,single-family home,12911 E Heroy Ave,3 Baths,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",NaN,Spokane Valley,"[{'rating': ['4/10', 'None/10', '4/10'], 'data...","1,947 sqft",99216,3 Beds,WA,2.0,NaN,NaN,201916904,"$310,000"
2,for sale,NaN,single-family home,2005 Westridge Rd,2 Baths,"{'atAGlanceFacts': [{'factValue': '1961', 'fac...",yes,Los Angeles,"[{'rating': ['8/10', '4/10', '8/10'], 'data': ...","3,000 sqft",90049,3 Beds,CA,1.0,NaN,yes,FR19221027,"$2,895,000"
3,for sale,NaN,single-family home,4311 Livingston Ave,8 Baths,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",yes,Dallas,"[{'rating': ['9/10', '9/10', '10/10', '9/10'],...","6,457 sqft",75205,5 Beds,TX,3.0,NaN,NaN,14191809,"$2,395,000"
4,for sale,NaN,lot/land,1524 Kiscoe St,NaN,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Palm Bay,"[{'rating': ['4/10', '5/10', '5/10'], 'data': ...",NaN,32908,NaN,FL,NaN,NaN,NaN,861745,"$5,000"

377185 rows, 18 columns

Основная информация о данных

In [58]:
def get_data_info(data):
    data_info = pd.DataFrame({'Nulls': (data.isna().sum() * 100/data.shape[0]).round(2), 
                            'Uniques': data.nunique(),
                            'Dtypes': data.dtypes})

    return data_info

get_data_info(data)

              Nulls  Uniques  Dtypes
status        10.58      159  object
private pool  98.89        1  object
propertyType   9.21     1280  object
street         0.00   337076  object
baths         28.19      229  object
homeFacts      0.00   321009  object
fireplace     72.66     1652  object
city           0.01     2026  object
schools        0.00   297365  object
sqft          10.76    25405  object
zipcode        0.00     4549  object
beds          24.20     1184  object
state          0.00       39  object
stories       39.96      347  object
mls-id        93.39    24907  object
PrivatePool   89.31        2  object
MlsId         17.73   232944  object
target         0.66    43939  object

In [59]:
data['MlsId'] = data['MlsId'].fillna('') + data['mls-id'].fillna('')
data['MlsId'] = data['MlsId'].apply(lambda x: np.nan if x == '' else x)

t_col = data.shape[0] * 0.7
data.dropna(axis=1, thresh=t_col, inplace=True)

t_row = data.shape[1] * 0.7
data.dropna(axis=0, thresh=t_row, inplace=True)

data.reset_index(drop=True, inplace=True)

get_data_info(data)

              Nulls  Uniques  Dtypes
status        10.18      158  object
propertyType   5.13     1280  object
street         0.00   321389  object
baths         24.81      229  object
homeFacts      0.00   317304  object
city           0.01     1999  object
schools        0.00   286152  object
sqft           6.62    25396  object
zipcode        0.00     4499  object
beds          21.57      192  object
state          0.00       38  object
MlsId         11.37   239991  object
target         0.50    42878  object

## Обработка признаков

### Цена недвижимости (целевой признак)

In [60]:
data['target'].fillna('$0', inplace=True)

y = (data['target']
     .apply(lambda x: x[1:] if x[0] == '$' else x)
     .apply(lambda x: x.split('/')[0])
     .apply(lambda x: x[:-1] if x[-1] == '+' else x) 
     .apply(lambda x: x.replace(',', ''))
     .apply(lambda x: '0' if x == '1215 - $1437' else x)
     .astype(int))

y

0          418000
1          310000
2         2895000
3         2395000
4            5000
           ...
360187     799000
360188    1249000
360189     674999
360190     528000
360191     204900
Name: target, Length: 360192, dtype: int32

In [61]:
better_data = pd.DataFrame(index=data.index)

better_data

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[360192 rows x 0 columns]

### Статус продажи

In [62]:
data['status'].fillna('Unknown', inplace=True)

data['status'] = data['status'].apply(lambda x: x.lower())

data['status'].value_counts()[:50]

status
for sale                             199477
active                                92092
unknown                               36678
foreclosure                            6578
new construction                       5465
pending                                4791
pre-foreclosure                        2067
p                                      1488
pre-foreclosure / auction              1462
under contract show                    1183
 / auction                              929
under contract   showing                793
active under contract                   718
under contract                          692
new                                     688
contingent                              579
price change                            558
auction                                 526
a active                                443
for rent                                398
foreclosed                              380
under contract backups                  252
contingent finance and inspection       244
recently sold                           238
pending continue to show                194
option pending                          110
back on market                          110
contingent show                         101
pending taking backups                   63
option contract                          54
active with offer                        49
pending with contingencies               44
active backup                            39
c                                        39
contract p                               36
pi                                       36
p pending sale                           35
listing extended                         28
auction - active                         27
due diligence period                     27
contract contingent on buyer sale        25
c continue show                          18
pending - taking backups                 17
offer pending signature                  15
active/contingent                        15
pending inspection                       14
contingent take backup                   14
contingent   show                        13
pending in                               13
active with contingencies                13
Name: count, dtype: int64

In [63]:
statuses = ['for sale', 'coming soon', 'new', 
            'foreclosure', 'pre-foreclosure', 
            'auction', 'active', 'show', 
            'for rent', 'sold', 'contract', 
            'contingent', 'back', 'unknown']

better_data['status pending'] = (data['status']
                                 .apply(lambda x: 1 if (('pending' in x) or 
                                                        (x == 'p') or 
                                                        (len(x) == 2 and 'p' in x)) 
                                                    else 0)
                                 .astype('uint8'))

for status in statuses:
    better_data['status '+status] = (data['status']
                                     .apply(lambda x: 1 if status in x else 0)
                                     .astype('uint8'))


better_data['status other'] = (better_data.sum(axis=1)
                               .apply(lambda x: 1 if x == 0 else 0)
                               .astype('uint8'))

better_data.sum()

status pending              6878
status for sale           199477
status coming soon           110
status new                  6153
status foreclosure         10109
status pre-foreclosure      3529
status auction              2954
status active              93439
status show                 2329
status for rent              412
status sold                  240
status contract             3802
status contingent           1023
status back                  512
status unknown             36678
status other                1059
dtype: int64

### Тип недвижимости

In [64]:
data['propertyType'].fillna('Unknown', inplace=True)

data['propertyType'] = data['propertyType'].apply(lambda x: x.lower())

data['propertyType'].value_counts()[:50]

propertyType
single-family home                     92033
single family                          62585
condo                                  42470
single family home                     31728
lot/land                               20513
unknown                                18493
townhouse                              18396
land                                   10933
multi-family                            7912
condo/townhome/row home/co-op           7701
traditional                             5913
coop                                    3216
multi family                            2776
high rise                               1823
ranch                                   1781
mobile/manufactured                     1618
detached, one story                     1614
single detached, traditional            1581
contemporary                            1557
multi-family home                       1501
1 story                                 1235
colonial                                1205
mobile / manufactured                   1063
contemporary/modern                     1000
2 stories                                911
apartment                                886
mfd/mobile home                          792
single detached                          751
detached, two story                      638
one story                                592
transitional                             560
cooperative                              535
florida                                  530
bungalow                                 442
farms/ranches                            371
two story                                312
garden home                              305
2 story                                  282
cape cod                                 281
2 stories, traditional                   280
spanish/mediterranean                    272
other style                              249
1 story, traditional                     237
other                                    232
condo/townhome, traditional              225
craftsman                                201
contemporary/modern, traditional         200
condo/townhome                           183
singlefamilyresidence                    182
condo/townhome, contemporary/modern      180
Name: count, dtype: int64

In [65]:
proptypes = ['single', 'family', 'condo', 
             'land', 'town', 'multi', 
             'coop', 'traditional', 'ranch', 
             'mobile', 'detached', 'contemporary', 
             'modern', 'apartment', 'story', 
             'stories', 'mediterranean', 'transitional']

for prop in proptypes:
    better_data['property type '+prop] = (data['propertyType']
                                         .apply(lambda x: 1 if prop in x else 0)
                                         .astype('uint8'))


better_data['property type unknown'] = (data['propertyType']
                                       .apply(lambda x: 1 if x in ('unknown', ' ') else 0)
                                       .astype('uint8'))

better_data['property type other'] = (better_data.iloc[:, len(statuses)+2:].sum(axis=1)
                                     .apply(lambda x: 1 if x == 0 else 0)
                                     .astype('uint8'))


better_data.sum()

status pending                   6878
status for sale                199477
status coming soon                110
status new                       6153
status foreclosure              10109
status pre-foreclosure           3529
status auction                   2954
status active                   93439
status show                      2329
status for rent                   412
status sold                       240
status contract                  3802
status contingent                1023
status back                       512
status unknown                  36678
status other                     1059
property type single           189952
property type family           198719
property type condo             51422
property type land              31458
property type town              27104
property type multi             12485
property type coop               3751
property type traditional        9679
property type ranch              3193
property type mobile             3491
property type detached           5822
property type contemporary       4436
property type modern             2336
property type apartment           910
property type story              5913
property type stories            1745
property type mediterranean       875
property type transitional        780
property type unknown           18617
property type other              8367
dtype: int64

### Количество ванных

In [66]:
data['baths'].fillna('No data', inplace=True)

data['baths'].value_counts()[:50]

baths
No data         89357
2 Baths         52466
3 Baths         35506
2               20452
2.0             16576
4 Baths         14764
3.0             10869
3               10113
Bathrooms: 2     9538
2.5              8113
Bathrooms: 3     6613
1                6583
1.0              5930
5 Baths          5370
4.0              4593
2.5 Baths        4486
0                3811
4                3567
3.5              3455
Bathrooms: 1     3234
2 ba             2686
6 Baths          2604
Bathrooms: 4     2384
1,500            2208
3 ba             1893
1.5              1857
3.5 Baths        1821
2,000            1792
1,750            1721
3,000            1686
5.0              1557
2,250            1440
1,000            1279
5                1224
7 Baths          1210
1,250            1206
4.5              1016
2,750             965
2,500             894
Bathrooms: 5      823
~                 782
1 ba              756
6.0               737
4 ba              735
3,500             653
8 Baths           638
-- baths          509
6                 507
4.5 Baths         381
7.0               362
Name: count, dtype: int64

In [67]:
def get_baths(x):
    global q
    
    xsplit = x.split()
    if xsplit[0] == 'Bathrooms:':
        q = xsplit[1]
    
    x0_split = xsplit[0].split(',')
    if (len(x0_split) == 2):
        q = x0_split[0]
    
    q = xsplit[0].split('.')[0]
    
    if not q.isnumeric():
        return '-1'
    else:
        return q


better_data['baths'] = data['baths'].apply(get_baths).astype(int)

better_data['baths']

0         3
1         3
2         2
3         8
4        -1
         ..
360187    3
360188    6
360189    3
360190    3
360191    2
Name: baths, Length: 360192, dtype: int32

### Количество спален

In [68]:
data['beds'].fillna('No data', inplace=True)

data['beds'].value_counts()[:50]

beds
No data    77690
3 Beds     53458
4 Beds     35417
3          31399
2 Beds     26360
4          20022
2          16107
Baths      15270
3 bd       12832
5 Beds     11270
4 bd        8249
3.0         8088
5           6424
4.0         5231
2 bd        5226
1           4609
6 Beds      3810
5 bd        2633
2.0         2430
6           1806
5.0         1372
0           1207
7 Beds      1100
1 bd        1080
-- bd        905
8 Beds       759
Bath         738
6 bd         653
7            511
1.0          429
9 Beds       347
             327
8            321
6.0          311
0.0          223
10 Beds      176
7 bd         147
12 Beds      130
8 bd          96
9             95
11 Beds       85
7.0           67
10            66
64 Beds       44
16 Beds       41
8.0           41
11            37
9 bd          36
12            34
13 Beds       30
Name: count, dtype: int64

In [69]:
def get_beds(x):
    global q
    
    xsplit = x.split()
    
    if len(xsplit) == 0:
        xsplit = ['-1']
        
    q = xsplit[0].split('.')[0]
    
    if not q.isnumeric():
        return '-1'
    else:
        return q

better_data['beds'] = data['beds'].apply(get_beds).astype(int)

better_data['beds']

0         4
1         3
2         3
3         5
4        -1
         ..
360187    2
360188    5
360189    3
360190    3
360191    3
Name: beds, Length: 360192, dtype: int32

### Площадь недвижимости

In [70]:
data['sqft'].fillna('No data', inplace=True)

data['sqft'].value_counts()[-50:]

sqft
4433                                        1
21,360                                      1
11,392                                      1
31,319                                      1
5898                                        1
Total interior livable area: 6,651 sqft     1
9,784 sqft                                  1
8,268 sqft                                  1
4838                                        1
10,628 sqft                                 1
Total interior livable area: 4,362 sqft     1
11434                                       1
7,883                                       1
41,531                                      1
6,130 sqft                                  1
Total interior livable area: 3,919 sqft     1
7,155                                       1
12,641 sqft                                 1
7531                                        1
5214                                        1
261,992 sqft                                1
14,492                                      1
3347                                        1
4950                                        1
9,268 sqft                                  1
10351                                       1
87,860 sqft                                 1
5362                                        1
6,113                                       1
123,898 sqft                                1
3559                                        1
Total interior livable area: 8,562 sqft     1
Total interior livable area: 6,202 sqft     1
Total interior livable area: 21,420 sqft    1
6,615                                       1
Total interior livable area: 5,530 sqft     1
3801                                        1
7,728                                       1
9,100 sqft                                  1
5,306                                       1
6043                                        1
8,542 sqft                                  1
44,840 sqft                                 1
Total interior livable area: 6,468 sqft     1
6,066                                       1
6,587                                       1
Total interior livable area: 4,724 sqft     1
15,400 sqft                                 1
6,159 sqft                                  1
Total interior livable area: 4,615 sqft     1
Name: count, dtype: int64

In [71]:
def get_sqft_area(x):
    
    xsplit = x.replace(',', '').split()
    q = xsplit[0]
    
    if q == 'Total':
        return xsplit[-2]
    
    if not q.isnumeric():
        return '-1'
    else:
        return q
    
better_data['sqft area'] = (data['sqft']
                            .apply(get_sqft_area)
                            .astype(int)
                            .apply(lambda x: x / 1000 if x > 0 else x))

better_data['sqft area']

0         2.900
1         1.947
2         3.000
3         6.457
4        -1.000
          ...
360187    1.417
360188    4.017
360189    2.000
360190    1.152
360191    1.462
Name: sqft area, Length: 360192, dtype: float64

### Факты о недвижимости

In [72]:
data['homeFacts'][:50]

0     {'atAGlanceFacts': [{'factValue': '2019', 'fac...
1     {'atAGlanceFacts': [{'factValue': '2019', 'fac...
2     {'atAGlanceFacts': [{'factValue': '1961', 'fac...
3     {'atAGlanceFacts': [{'factValue': '2006', 'fac...
4     {'atAGlanceFacts': [{'factValue': '', 'factLab...
5     {'atAGlanceFacts': [{'factValue': '1920', 'fac...
6     {'atAGlanceFacts': [{'factValue': '2006', 'fac...
7     {'atAGlanceFacts': [{'factValue': '1970', 'fac...
8     {'atAGlanceFacts': [{'factValue': '2019', 'fac...
9     {'atAGlanceFacts': [{'factValue': '1965', 'fac...
10    {'atAGlanceFacts': [{'factValue': '2015', 'fac...
11    {'atAGlanceFacts': [{'factValue': '1996', 'fac...
12    {'atAGlanceFacts': [{'factValue': '2019', 'fac...
13    {'atAGlanceFacts': [{'factValue': '1982', 'fac...
14    {'atAGlanceFacts': [{'factValue': '1905', 'fac...
15    {'atAGlanceFacts': [{'factValue': '2008', 'fac...
16    {'atAGlanceFacts': [{'factValue': '1899', 'fac...
17    {'atAGlanceFacts': [{'factValue': '2016', 'fac...
18    {'atAGlanceFacts': [{'factValue': '1954', 'fac...
19    {'atAGlanceFacts': [{'factValue': '1989', 'fac...
20    {'atAGlanceFacts': [{'factValue': '2008', 'fac...
21    {'atAGlanceFacts': [{'factValue': '1996', 'fac...
22    {'atAGlanceFacts': [{'factValue': '2019', 'fac...
23    {'atAGlanceFacts': [{'factValue': '2014', 'fac...
24    {'atAGlanceFacts': [{'factValue': '1915', 'fac...
25    {'atAGlanceFacts': [{'factValue': '', 'factLab...
26    {'atAGlanceFacts': [{'factValue': '', 'factLab...
27    {'atAGlanceFacts': [{'factValue': '1994', 'fac...
28    {'atAGlanceFacts': [{'factValue': '1910', 'fac...
29    {'atAGlanceFacts': [{'factValue': '1923', 'fac...
30    {'atAGlanceFacts': [{'factValue': '1960', 'fac...
31    {'atAGlanceFacts': [{'factValue': '1977', 'fac...
32    {'atAGlanceFacts': [{'factValue': '1972', 'fac...
33    {'atAGlanceFacts': [{'factValue': '1963', 'fac...
34    {'atAGlanceFacts': [{'factValue': '1981', 'fac...
35    {'atAGlanceFacts': [{'factValue': '1949', 'fac...
36    {'atAGlanceFacts': [{'factValue': '1954', 'fac...
37    {'atAGlanceFacts': [{'factValue': '1930', 'fac...
38    {'atAGlanceFacts': [{'factValue': '2019', 'fac...
39    {'atAGlanceFacts': [{'factValue': '', 'factLab...
40    {'atAGlanceFacts': [{'factValue': '1991', 'fac...
41    {'atAGlanceFacts': [{'factValue': '1994', 'fac...
42    {'atAGlanceFacts': [{'factValue': '1958', 'fac...
43    {'atAGlanceFacts': [{'factValue': '2005', 'fac...
44    {'atAGlanceFacts': [{'factValue': '2017', 'fac...
45    {'atAGlanceFacts': [{'factValue': '', 'factLab...
46    {'atAGlanceFacts': [{'factValue': '', 'factLab...
47    {'atAGlanceFacts': [{'factValue': '1982', 'fac...
48    {'atAGlanceFacts': [{'factValue': '2018', 'fac...
49    {'atAGlanceFacts': [{'factValue': '1983', 'fac...
Name: homeFacts, dtype: object

In [155]:
import json

homefacts = (data['homeFacts'].apply(lambda x: x
                                     .replace("'", '"')
                                     .replace('""', '"No Data"')
                                     .replace('None', '"No Data"')
                                     .replace('""No Data""', '"No Data"')
                                     .replace('Attch"d', 'Attached')
                                     .replace(', "No Data"', ', None')
                                     .replace('Req"d', 'Required')
                                     .replace('"s', "'s")
                                     .replace('"No Data", O', 'None, O')
                                     .replace('"closet"', 'Closet')
                                     .replace('Addtn"l', 'Additional')
                                     .replace(" \'st", ' "st')
                                     .replace('"No Data", C', 'None, C')
                                     .replace('"No Data", D', 'None, D')))


hf_list = []

for i in data.index:
    hf_json = json.loads(homefacts[i])
    hf_dict = {}
    
    for elem in hf_json['atAGlanceFacts']:
        v_list = list(elem.values())
        
        hf_dict[v_list[1]] = v_list[0]
    
    hf_list.append(hf_dict)
    
hf_df = pd.DataFrame(hf_list)
display(hf_df)


for col in hf_df.columns:
    hf_df[col] = hf_df[col].apply(lambda x: np.nan if x == 'No Data' else x)
    
display(get_data_info(hf_df))

,Year built,Remodeled year,Heating,Cooling,Parking,lotsize,Price/sqft
0,2019,No Data,"Central A/C, Heat Pump",No Data,No Data,No Data,$144
1,2019,No Data,No Data,No Data,No Data,5828 sqft,$159/sqft
2,1961,1967,Forced Air,Central,Attached Garage,"8,626 sqft",$965/sqft
3,2006,2006,Forced Air,Central,Detached Garage,"8,220 sqft",$371/sqft
4,No Data,No Data,No Data,No Data,No Data,"10,019 sqft",No Data
...,...,...,...,...,...,...,...
360187,2010,No Data,Forced air,Central,1 space,No Data,$564
360188,1990,1990,Other,Central,2 spaces,"8,500 sqft",$311
360189,1924,No Data,Radiant,No Data,No Data,No Data,$337/sqft
360190,1950,1950,Other,No Data,2,"1,600 sqft",$458/sqft
360191,2019,No Data,Electric,Central,No Data,"6,969 sqft",$140

                Nulls  Uniques  Dtypes
Year built      13.45      228  object
Remodeled year  58.47      151  object
Heating         28.18     1978  object
Cooling         34.83     1438  object
Parking         48.39     3343  object
lotsize         17.62    36808  object
Price/sqft      13.54     6499  object

In [156]:
year_built = hf_df['Year built'].fillna('')